# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Apple love
.DS_Store

# Test binary, built with `go test -c`
*.test
*.upgrade

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Develop scripts
go
god
godev
got
gotest
drun/

# Local editor configs
.idea
.vscode
*.json

# goreleaser
dist/